meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
title COINEX | Responsive Bootstrap 5 Admin Dashboard Template
//  Favicon 
link(rel='shortcut icon', href='/assets/images/coinblazers-favicon2.png')
link(rel='stylesheet', href='/assets/css/libs.min.css')
link(rel='stylesheet', href='/assets/css/coinex.css?v=1.0.0')
//  loader Start 
#loading
  .loader.simple-loader
    .loader-body
//  loader END 
div(style='background-image: url(\'/assets/images/auth/01.png\')')
  .wrapper
    section.vh-100.bg-image
      .container.h-100
        .row.justify-content-center.h-100.align-items-center
          .col-md-6.mt-5
            .card
              .card-body
                .auth-form
                  h2.text-center.mb-4 Sign In
                  form#loginForm
                    .form-floating.mb-3
                      input.form-control#email(type='email', placeholder='name@example.com')
                      label(for='email') Email
                    .form-floating.mb-2
                      input.form-control#password(type='password', placeholder='Password')
                      label(for='password') Password
                    //- .d-flex.justify-content-between.align-items-center.flex-wrap
                    //-   .form-group
                    //-     .form-check
                    //-       input.form-check-input#Remember(type='checkbox')
                    //-       label.form-check-label(for='Remember') Remember me?
                      //- .form-group
                      //-   a(href='#page-forgot-password.html') Forgot Password?
                    .text-center
                      button.btn.btn-primary(type='submit') Sign In
                  .new-account.mt-3.text-center
                    p
                      | Don't have an account? 
                      a(href='/signup') Click here to sign up
//  Custom JavaScript 
script(src='/js/bundle.js')
//  Backend Bundle JavaScript 
script(src='/assets/js/libs.min.js')
//  widgetchart JavaScript 
script(src='/assets/js/charts/widgetcharts.js')
//  fslightbox JavaScript 
script(src='/assets/js/fslightbox.js')
//  app JavaScript 
script(src='/assets/js/app.js')
//  apexchart JavaScript 
script(src='/assets/js/charts/apexcharts.js')